
# IDEs directories
.vscode

# Release commit messages
.gitlog

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binary file
bin
dist
